
  .button-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  @media (min-width: 768px) {
    .button-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 16px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #3399FF;
    font-weight: bold;
    color: #ffffff;
  }
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
  }
  
  .user-table tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
  }
  
  .top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 20px 0 10px 20px;
  }
  
  .delete-btn {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #da190b;
  }