

.action-btn {
    padding: 10px 20px;
    background-color: #3399FF;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
  }

.action-btn:hover {
  filter: brightness(0.9);
}

.indigency-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.indigency-table th, .indigency-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.indigency-table th {
  background-color: #3399FF;
  font-weight: bold;
  color: #ffffff;
}

#doc-req {
  color: #3182ce; /* Set font color to #3182ce */
}

.indigency-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
  }
  
  .indigency-table tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
  }



