

.action-btn {
    padding: 10px 20px;
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
  }

.action-btn:hover {
  filter: brightness(0.9);
}

.action-btn:disabled {
    background-color: #ccc;  /* Light gray to show it's inactive */
    color: #666;
    cursor: not-allowed;
    border: 1px solid #999;
    opacity: 0.7;
}

.good-moral-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.good-moral-table th, .good-moral-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.good-moral-table th {
  background-color: #3399FF;
  font-weight: bold;
  color: #ffffff;
}

.good-moral-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
  }
  
  .good-moral-table tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
  }



